'<div class="container darker" style="float: right;"><img src="assets/img/myAvatar2.png" alt="Avatar" class="right"><p style="float: right;"><em>' ++ '</em></p></div>';

<div class="container" style="float: right;">
  <img src="assets/img/myAvatar.png" alt="Avatar">
  <p><em class="output-bot">...</em></p>
</div>


'<div class="container" style="float: right;"><img src="assets/img/myAvatar.png" alt="Avatar" class="right"><p style="float: right;"><em>' ++ '</em></p></div>';


'<div class="container" style="float: right;"><img src="assets/img/myAvatar.png" alt="Avatar" ><p style="float: right;">' +replyText+ '</p></div>';